.dark {
    --page-background-color: #282623;
    --button-background-color: #282623;
    --hr-background-color: #CFC7B0;
    --button-hover-color: #B89D35;
    --border-default-color: #B89D35;

    --text-default-color: #CFC7B0;
    --text-button-hover-color: #282623;
    --text-secondary-color: #B89D35;
}
