.light {
    --page-background-color: #EBE7E2;
    --button-background-color: #AC6E2B;
    --hr-background-color: #9E9080;
    --button-hover-color: #AC6E2B;
    --border-default-color: #AC6E2B;

    --text-default-color: #9E9080;
    --text-button-hover-color: #EBE7E2;
    --text-secondary-color: #AC6E2B;
}
